{
  "env": {
    "development": {
      "presets": ["env"]
    },
    "rollup": {
      "presets": [
        ["env", {
          "modules": false,
        }]
      ],
      "plugins": ["external-helpers"]
    }
  }
}
