{
  "env": {
    "development": {
      "presets": ["@babel/preset-env"]
    },
    "rollup": {
      "presets": [
        ["@babel/preset-env", {
          "modules": false,
        }]
      ],
      "plugins": [
        "external-helpers",
        ["transform-runtime", {
          "polyfill": false,
          "regenerator": true
        }]
      ]
    }
  }
}
